html, body {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    overflow: hidden;
}

.background-image {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url('image.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    z-index: -1;
    position: relative;
}

.background-image::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

.greeting-banner {
    padding: 20px 0;
    text-align: center;
    color: #ffffff;
    background-color: rgba(255, 0, 0, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transform: translateX(0);
    z-index: 2;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.countdown-container {
    text-align: center;
    color: #ffffff;
    max-width: 400px;
    margin: 0 auto;
}

#countdown {
    font-size: 46px;
    margin-top: 20px;
    max-width: 100%;
    white-space: nowrap;
    font-weight: bold;
    background: linear-gradient(45deg, #ff7300, #eaeaea);
    -webkit-background-clip: text;
    color: transparent;
}

h1 
{
    font-size: 45px;
    white-space: wrap;
}

#dateString
{
    font-size: 24px;
    margin-top: 20px;
    max-width: 100%;
    white-space: nowrap;
    font-weight: bold;
}

#nextButton {
    margin-top: 40px; 
    display: inline-block;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: none;
    border-radius: 50px;
    color: #ffffff;
    background: linear-gradient(135deg, rgb(63, 94, 251), rgb(252, 70, 107));
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
}

@media only screen and (max-width: 600px) {
    .greeting-banner {
        top: 0;
        padding-bottom: 20px;
    }

    .wrapper {
        top: 50%;
        transform: translate(-50%, -50%) translateY(20px);
    }
}
